.alertContainer {
  position: fixed;
  top: 160px;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateX(-50%);
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  font-family: var(--font-h1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(255 255 255); 
  text-align: center;
  background-color: rgb(50 50 50 / 80%); 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%), 0 0 15px rgb(76 175 80 / 60%); 
  backdrop-filter: blur(10px); 
}

.enter {
  animation: slide-in 0.3s ease-out forwards;
}

.exit {
  animation: slide-out 0.3s ease-in forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
