.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-h1);
  backdrop-filter: blur(8px);
}

.modalContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 80%;
  border-radius: 12px;
  overflow: visible;
}

.modal {
  position: relative;
  width: 75%;
  height: 85%;
  padding: 40px;
  overflow: visible;
  background-color: rgba(171, 171, 171, 0.275);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.796); 
}

.closeButton {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.modalContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}

.modalLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.modalRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 1px;
}

.modalImage {
  position: relative;
  top: -15px; 
  left: 15%;
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(107, 104, 104, 0.587); 
  transform: translateX(-50%); 
}

.modal h2 {
  margin-top: 0;
  font-size: 40px;
}

.modal ul {
  padding-left: 20px;
}

.modal ul li {
  margin-bottom: 5px;
}

.modalPreparation {
  margin-top: 20px;
}

.favoriteButton {
  position: absolute;
  top: -3%;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.favoriteIcon {
  width: 50px;
  height: 50px;
}

.ingrTable {
  display: flex;
  justify-content: space-between;
}

.modal button {
  background-color: transparent; 
  color: inherit; 
  border: none;
  transition: none; 
}

.modal button:hover {
  background-color: transparent; 
  color: inherit; 
}
