.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  position: relative;
  width: 60%;
  height: 80%;
  padding: 40px;
  overflow-y: auto;
  background-color: rgb(247 247 247 / 90%);
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.modalContent {
  display: flex;
  gap: 40px;
}

.modalLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.modalRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal h2 {
  margin-top: 0;
  font-size: 40px;
}

.modal ul {
  padding-left: 20px;
}

.modal ul li {
  margin-bottom: 5px;
}

.modalPreparation {
  margin-top: 20px;
}

.favoriteButton {
  position: absolute;
  top: -1%;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.favoriteIcon {
  width: 50px;
  height: 50px;
}

.ingrTable {
  display: flex;
  justify-content: space-between;
}
