.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 200px;
  font-family: Arial, sans-serif;
  color: rgb(163 163 163);
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cartItemImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.cartItemDetails {
  flex-grow: 1;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 50%);
}

.modalContent {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.formField {
  margin-bottom: 15px;
}

.formField label {
  display: block;
  margin-bottom: 5px;
}

.formField input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalActions button {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.modalActions button:hover {
  background-color: #3d3d3d !important; 
}

.modalActions button.confirmButton {
  background-color: #28a745;
}

.modalActions button.cancelButton {
  background-color: #dc3545;
}

.navContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a:hover {
  background-color: #f39c12;
  transform: translateY(-2px);
}

.navContainer button:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

.notification {
  width: 400px;
  height: 300px;
  border: white 1px groove;
  border-radius: 10px;
}