.container {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--font-h1);
  color: #d3d3d3;
}

.cartItems {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  align-items: center;
  width: 60%;
}

.cartItem {
  display: flex;
  align-items: center;
  width: 80%;
  height: 160px;
  padding: 10px;
  background-color: #2c2c2c;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cartItemImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cartItemDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;;
  justify-content: center;
  width: 500px;
}

.cartItemDetails {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 10px;
  width: 80%;
  line-height: 1.3
}


.total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.quantityBlock {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 90px;
  height: 24px;
  padding: 2px;
  margin-top: 2px; 
  margin-right: 20px;
  background-color: white; 
  border-radius: 4px;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; 
  height: 24px; 
  padding: 0; 
  margin: 0; 
  font-size: 12px;
  color: #000; 
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantityButton:hover {
  color: white;
  background-color: #d3d3d3;
}

.quantityValue {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.deleteButton {
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.orderButton {
  width: 440px;
  height: 44px;
  margin: 20px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 50%);
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 550px;
  padding: 20px;
  background: white;
  background: #1a181a;
  border-radius: 8px
}

.modalContent h3 {
  margin-top: 20px;
  font-size: 20px;
}

.formField {
  margin-bottom: 15px;
}

.formField label {
  margin-bottom: 5px;
}

.formField input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalActions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.modalActions button {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.modalActions button.confirmButton {
  background-color: var(--color-green);
}

.modalActions button.cancelButton {
  background-color: #dc3545;
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  padding: 20px;
  margin-top: 200px;
  background-color: #2c2c2c;
  border: white 1px groove;
  border-radius: 10px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
}

.navContainer a {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
  padding: 5px; /* Уменьшаем отступы */
  font-size: 1.5rem; /* Уменьшаем размер текста */
  color: #fff; /* Цвет текста (крестика) */
  cursor: pointer;
  background-color: transparent; /* Убираем фон */
  border-radius: 50%; /* Делаем кнопку круглой */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавное изменение фона и эффекта */
}

.closeButton:hover {
  background-color: rgb(255 255 255 / 50%); /* Полупрозрачный красный фон */
  border-color: #ffdada; /* Светлый оттенок границы при наведении */
}