.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 19vw;
  margin-left: 0;
}

.ingrCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 19vw;
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.ingrHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ingrImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
}

.ingrImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ingredientType {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.ingrBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ingredientDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ingredientTitle {
  margin: 5px 0;
  font-size: 20px;
  color: #555;
}

.ingredientBalance {
  margin: 5px 0;
  color: #888;
}

button {
  padding: 8px 16px;
  margin-left: 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
