.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 19vw;
  margin-left: 0;
}

.ingrCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 19vw;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingrHeader {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  width: 100%;
  gap: 8px;
}

.ingrImg {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.ingrImg img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Чтобы картинка целиком вмещалась */
}

.ingredientType {
  font-weight: bold;
  color: #333;
  font-size: 24px;
}

/* Body section with title, balance, and button */
.ingrBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ingredientDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ingredientTitle {
  font-size: 20px;
  color: #555;
  margin: 5px 0;
}

.ingredientBalance {
  color: #888;
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}
