.carouselContainer {
  display: flex;
  align-items: center;
}

.carousel {
  width: 1200px;
  padding-bottom: 10px;
  overflow-x: auto;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.recipeList {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.scrollButton {
  top: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #333;
  border: none;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.filter {
  margin-bottom: 10px;
  font-family: var(--font-h1);
  font-size: large;
  color: #d0d0d0;
}

.filter select {
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  border-radius: 9px;
}

.scrollButton:hover {
  opacity: 1;
}

.scrollButton:first-child {
  left: 0;
}

.scrollButton:last-child {
  right: 0;
}

.scrollButton i {
  font-size: 16px;
}
