.filterContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;
}

.carouselContainer {
  position: relative;
  display: flex;
  margin: 50px;
}

.carousel {
  width: 1200px;
  padding-bottom: 10px;
  overflow-x: auto;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.recipeList {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.scrollButton {
  position: absolute;
  top: 38%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transform: translateY(-50%);  */
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgb(255 255 255 / 5%);
  border: none;
  border-radius: 50%;
  opacity: 0.8;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  font-family: var(--font-h1);
  font-size: large;
}

.filter select {
  padding: 8px 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 9px;
  transition: all 0.3s ease;
}

.filter select:hover {
  background-color: rgb(255 255 255 / 15%);
  transform: translateY(-2px);
}

.filter select option {
  color: #fff;
  background-color: #ffffff0d;
}

.filter select:focus {
  background: #222;
  border-color: #fff;
}

.filter select option:checked {
  background: rgb(33 150 243 / 30%);
}

.scrollButton:hover {
  background: rgb(255 255 255 / 10%);
  opacity: 1;
}

.scrollButton:first-child {
  left: -57px;
}

.scrollButton:last-child {
  right: -57px;
}

.scrollButton i {
  font-size: 16px;
}

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  width: 50%;
  max-width: 200px;
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 50px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #444;
}

.scrollButton img {
  width: 35px;
  height: auto;
}
