.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.tabButton {
    color: white;
    background-color: transparent;
    border: 1px #f39c12 groove;

}

.tabs {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.tabButton:hover {
  background-color: #525252;
}

.tabButton.active {
  font-weight: bold;
  color: white;
  background-color: #f39c12;
}

.moduleContainer {
  flex: 1;
}
