.container {
  padding-top: 10px;
  font-family: var(--font-h1);
}

.tabButton {
  color: white;
  background-color: transparent;
}

.tabs {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.tabButton:hover {
  background-color: #525252;
}

.tabButton.active {
  font-weight: bold;
  color: white;
  background-color: var(--color-green);
}

.moduleContainer {
  flex: 1;
}
