.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 17px;
  color: #e0e0e0;
}

.input {
  padding: 6px;
  font-size: 14px;
  color: #fff;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 6px;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkboxInput {
  margin-left: 8px;
}

.button {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(76 175 80 / 30%);
  border: 1px solid rgb(76 175 80 / 50%);
  border-radius: 6px;
  transition: all 0.3s ease;
  width: fit-content;
  align-self: center;
}

.button:hover {
  background-color: rgb(76 175 80 / 50%);
  transform: translateY(-2px);
}
