.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: none;
  margin: 0 auto; 
  font-family: var(--font-h1);
  color: white;
}

.ordersGrid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
  width: 100%;
  margin: 0 auto; 
}

.order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: #2c2c2c;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.numberOrder {
  margin-bottom: 8px;
  font-size: 1.3rem; 
  font-weight: bold;
  text-align: center;
}

.clientInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px; 
}

.clientInfo p {
  margin: 0;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productItem {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #3a3a3a;
  border-radius: 5px;
}

.productItem p {
  margin: 0;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.productCardButton:hover {
  background-color: rgb(76 175 80 / 30%);
}

/* Название товара */
.productItem p:first-child {
  flex: 1;
  text-align: left;
}

/* Цена товара */
.productItem p:nth-child(2) {
  flex: 0 0 100px;
  margin: 0 20px;
  text-align: center;
}

/* Кнопка "Карточка товара" */
.productItem button {
  flex: 0 0 auto;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #555; /* Цвет фона для кнопки "Карточка товара" */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttonBlock button {
  height: 40px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.statusAndTotal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.totalAmount {
  margin-left: 0;
  font-weight: bold;
}

.adminView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.adminView .totalAmount {
  margin-right: auto;
}

.buttonBlock {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.adminControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.buttonBlock button:first-child {
  color: white;
  background-color: #f39c12;
}

.buttonBlock button:last-child {
  color: white;
  background-color: #ff4d4d;
}

.buttonBlock button:first-child:hover {
  background-color: #e67e22;
}

.buttonBlock button:last-child:hover {
  background-color: #c00;
}

.buttonBlock select {
  height: 40px;
  padding: 8px 16px; 
  font-size: 14px;
  color: rgb(0 0 0);
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}