.bar {
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.bar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.barCollection {
  position: absolute;
  top: 7%;
  left: 0%;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.barItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.barItem img {
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: contain;
}
