.container {
  width: 350px;
  margin-left: auto;
  color: #fff;
}

.recipesGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 78vh;
  overflow-y: scroll;
}

.recipesGrid::-webkit-scrollbar {
  display: none;
}

.recipeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipeCard:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.recipeHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.recipeImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.recipeTitle {
  margin: 0;
  font-family: var(--font-h1);
  font-size: 18px;
  font-weight: 600;
  color: #e0e0e0;
}

.recipeContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recipeDescription {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #ccc;
}

.recipeDetails {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
  color: #b0b0b0;
  background: rgb(255 255 255 / 5%);
  border-radius: 6px;
}

.strengthLevel {
  font-weight: 500;
}

.shotBadge {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(76 175 80 / 30%);
  border: 1px solid rgb(76 175 80 / 50%);
  border-radius: 4px;
}
