.container {
  padding: 30px;
  
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.filter {
  margin-bottom: 10px;
}

.filter select {
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  border-radius: 9px;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 330px;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.recipeImage {
  width: 180px;
  height: 190px;
  margin-top: 20px;
  border-radius: 8px;
}

.recipeTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.recipeButton {
  padding: 8px 16px;
  margin-top: auto;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #2b425b;
  border: none;
  border-radius: 4px; 
}

.recipeButton:hover {
  background-color: #2f3a46;
}