.container {
  padding: 30px;
}

.title {
  margin-bottom: 10px;
  font-family: var(--font-h1);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.filter {
  margin-bottom: 10px;
  font-family: var(--font-h1);
  font-size: large;
  color: #d0d0d0;
}

.filter select {
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  border-radius: 9px;
}

.recipeButton {
  padding: 8px 16px;
  margin-top: auto;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #2b425b;
  border: none;
  border-radius: 4px;
}

.recipeButton:hover {
  background-color: #2f3a46;
}

.recipeCard:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 20%); */
  transform: translateY(-5px);
}

.selector {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-bottom: 1px solid #444;
}

.banner {
  /* background-color: #333; */
  padding: 20px;
  margin: 20px;
}

.text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: var(--font-h1);
  line-height: 1.5;
  color: white;
  text-align: center;
}
