.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5px;
  padding: 64px 48px;
  margin-top: 16px;
  margin-bottom: 10px;
  font-family: var(--font-h1);
  color: white;
  background: var(--background-color);
  border-bottom: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.leftSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: -30px;
}

.rightSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: -40px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navLink {
  position: relative;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}


.navLink::before {
  position: absolute;
  top: -5px; /* Отступ вверх */
  right: 0;
  left: 0;
  height: 3px; /* Толщина линии */
  content: "";
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navLink.active::before {
  background-color: var(--active-color);
}

.centerSection {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 150px;
  margin-top: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
}

.button {
  position: relative;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  transition: all 0.3s ease;
}

.button:hover::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  content: '';
  background-color: white;
  transition: all 0.3s ease;
}

@media (width <= 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 1rem;
  }

  .container a,
  .container button {
    margin-bottom: 0.5rem;
  }

  .line {
    display: none;
  }

  .centerSection {
    margin-top: 10px;
  }
}
