.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.buttonBlock {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  margin-bottom: 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 15px;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.card input, textarea {
  width: 94%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonUpdate {
  width: 94%;
  padding: 8px;
  margin-top: 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
}

.buttonDelete {
  width: 94%;
  padding: 8px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #218838;
}

.buttonDelete:hover {
  background-color: #2f312f;
}

.buttonUpdate:hover {
  background-color: #2f312f;
}