.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-top: 0;
}

.buttonBlock {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  padding: 10px;
  margin-bottom: 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 410px;
}

.image {
  width: 98%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.card input, textarea {
  width: 94%;
  padding: 8px;
  margin-top: 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonUpdate {
  width: 98%;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.buttonDelete {
  width: 98%;
  margin-top: 14px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: var(--color-red);
  border: none;
  border-radius: 4px;
}

.buttonDelete:hover{
  background-color:  #e74d3cb4;
}