.form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 300px;
  min-height: 300px;
  padding: 30px;
  font-family: var(--font-h1);
  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  box-shadow: 5px 15px 20px rgb(6 6 6 / 72.2%);
  backdrop-filter: blur(10px);
}

.componentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input {
  width: 140px;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  outline: none;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 6px;
}

.submitButton {
  width: 150px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(76 175 80 / 30%);
  border: 1px solid rgb(76 175 80 / 50%);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(76 175 80 / 50%);
  transform: translateY(-2px);
}

.searchText {
  max-width: 300px;
  font-size: 18px;
  color: #e0e0e0;
}

.smallDivider {
  width: 90%;
  height: 2px;
  margin: 6px auto;
  background-color: #444;
}

.textWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.addForm {
  margin-top: 55px;
}
