.form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 70%; 
  padding: 30px;
  font-family: var(--font-h1);
  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  font-family: var(--font-h1);
  box-shadow: 5px 15px 20px rgba(6, 6, 6, 0.722);
  position: relative;
  height: auto; 
  min-height: 300px;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  position: relative;
}

.inputWrapper {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  align-items: center; 
}

.input {
  padding: 8px;
  font-size: 14px;
  color: #fff;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 6px;
  width: 140px;
}

.submitButton {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(76 175 80 / 30%);
  border: 1px solid rgb(76 175 80 / 50%);
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 150px;
}

.submitButton:hover {
  background-color: rgb(76 175 80 / 50%);
  transform: translateY(-2px);
}

.searchText {
  font-size: 18px;
  color: #e0e0e0;
  text-align: right;
}

.smallDivider {
  width: 90%; 
  height: 2px; 
  margin: 6px auto;  
  background-color: #444; 
  margin: 6px auto; 
}

.textWrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

