.container {
    max-width: 800px;
    padding: 20px;
    margin: 40px auto 0;
    text-align: center;
    background-color: #222; /* Темный фон для контраста */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    transition: box-shadow 0.3s ease;
  }
  
  .container:hover {
    box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #fff;
  }
  
  .image {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #fff;
  }
  
  .price {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fcfcfc;
  }
  
  .button {
    padding: 10px 14px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .quantityControls span {
    color: #fff; 
  }
  