.componentContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.carouselContainer {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 14px;
  overflow-y: auto;
  border-radius: 5px;
}

.carouselContainerClose {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 5px;
}

.carousel {
  padding: 0;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  box-sizing: border-box;
  width: 10%;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 6px;
}

.addButton {
  background-color: rgb(33 150 243 / 30%);
  border: 1px solid rgb(33 150 243 / 50%);
}

.addButton:hover {
  background-color: rgb(33 150 243 / 50%);
  transform: translateY(-2px);
}

.removeButton {
  width: 60%;
  padding: 8px 12px;
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  background-color: rgb(244 67 54 / 30%);
  border: 1px solid rgb(244 67 54 / 50%);
}

.removeButton:hover {
  background-color: rgb(244 67 54 / 50%);
  transform: translateY(-2px);
}

.submitButton {
  background-color: rgb(76 175 80 / 30%);
  border: 1px solid rgb(76 175 80 / 50%);
}

.submitButton:hover {
  background-color: rgb(76 175 80 / 50%);
  transform: translateY(-2px);
}

.searchText {
  font-size: 18px;
  color: #e0e0e0;
  text-align: right;
}

.smallDivider {
  width: 90%;
  height: 2px;
  margin: 6px auto;
  background-color: #444;
}

.buttonBlock {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
