.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.carouselContainer {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 14px;
  overflow-y: auto;
  border-radius: 5px;
}

.carouselContainerClose {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 5px;
}

.carousel {
  padding: 0;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  box-sizing: border-box;
  width: 10%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.removeButton {
  width: 60%;
  padding: 8px 12px;
  margin-top: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #f44336;
  border: none;
  border-radius: 3px;
}

.removeButton:hover {
  background-color: #da190b;
}

.submitButton {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: #367c39;
}

.buttonBlock {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
