.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  margin-bottom: 20px;
}

.banner {
  /* background-color: #333; */
  padding: 20px;
  margin: 20px;
}

.title {
  margin-bottom: 10px;
  font-family: var(--font-h1);
  color: white;
  text-align: center;
}

.text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: var(--font-h1);
  line-height: 1.5;
  color: white;
  text-align: center;
}
