.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: rgb(0 0 0 / 70%);
}

.modalContent {
  position: relative; 
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  padding: 20px;
  background-color: rgb(34 34 34 / 60%); /* Полупрозрачный фон */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  backdrop-filter: blur(8px); /* Эффект размытия */
}

.name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
  padding: 5px; 
  font-size: 1.5rem; 
  color: #fff; /* Цвет текста (крестика) */
  cursor: pointer;
  background-color: transparent; /* Убираем фон */
  border-radius: 50%; /* Делаем кнопку круглой */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавное изменение фона и эффекта */
}

.closeButton:hover {
  background-color: rgb(255 255 255 / 50%); 
  border-color: #ffdada; 
}

.modalBody {
  display: flex;
  gap: 20px;
}

.image {
  max-width: 500px;
  max-height: 500px; 
  object-fit: cover; /* Чтобы изображение заполнило контейнер без искажения */
  border-radius: 10px;
}

.productDetails {
  flex-grow: 1; /* Позволяет описанию занимать доступное пространство */
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fcfcfc;
}

.description {
  padding: 15px 20px;
  margin-bottom: 6px;
  color: #e0e0e0;
  background: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
}

.description h3 {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.specifications {
  padding: 15px 20px;
  color: #e0e0e0;
  background: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
}

.specifications h3 {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.quantityControls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.quantityControls span {
  color: #fff;
}

.button {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

button:disabled {
  cursor: not-allowed;
  background-color: #777;
}

.quantityBlock {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 91px;
  height: 24px;
  padding: 2px; 
  background-color: white; 
  border-radius: 4px;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 30px; 
  height: 24px; 
  padding: 0;
  margin: 0;
  font-size: 12px; 
  color: #000; 
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantityButton:hover {
  background-color: #f0f0f0; 
}

.quantityValue {
  font-size: 12px;
  font-weight: bold;
  color: #000; 
}

.controlsWrapper {
  display: flex;
  gap: 16px; /* Отступ между блоком с количеством и кнопкой "➜Корзина" */
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.cartButton {
  max-height: 30px;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cartButton:hover {
  background-color: #494d52;
}