.container {
  padding: 20px;
  font-family: var(--font-h1);
  color: aliceblue;
}

.container h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgb(255 166 1 / 60%);
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a:hover {
  background-color: var(--font-green-h3);
  transform: translateY(-2px);
}

.cartQuantity {
  padding: 3px 6px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #ff4d4f;
  border-radius: 50%;
}

.content {
  display: flex;
  gap: 20px;
}

.productList {
  flex-grow: 1;
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  padding: 40px;
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 400px;
  padding: 15px;
  text-align: center;
  background: #2c2c2c;
  border: 2px solid #a7a7a7;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  transform: translateZ(0); 
  transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
  will-change: transform, box-shadow, border-color; 
  backface-visibility: hidden;
}

.product:hover {
  border-color: #fff;
  box-shadow: 3px 3px 10px rgb(255 255 255 / 30%), 
              3px 3px 20px rgb(240 239 238 / 20%),
              3px 3px 20px rgb(240 240 240 / 20%);
}

.product * {
  transform: translateZ(0); 
  backface-visibility: hidden; 
}

.product h3 {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}

.product p {
  flex-grow: 1;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #d3d3d3;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 10px;
}

.controlsWrapper {
  display: flex;
  gap: 16px; /* Отступ между блоком с количеством и кнопкой "➜Корзина" */
  align-items: center;
}

.quantityBlock {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 90px;
  height: 24px;
  padding: 2px; 
  background-color: white; 
  border-radius: 4px;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; 
  height: 24px; 
  padding: 0; 
  margin: 0; 
  font-size: 12px;
  color: #000; 
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantityButton:hover {
  background-color: #f0f0f0; 
}

.quantityValue {
  font-size: 12px; 
  font-weight: bold;
  color: #000; 
}

.cartButton {
  max-height: 30px;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}



.imageWrapper {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  cursor: pointer; /* Курсор в виде указателя */
  border-radius: 10px;
}

.productImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s ease; /* Анимация затемнения */
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(31 31 31 / 50%); /* Полупрозрачный белый фон */
  border-radius: 10px;
  opacity: 0; /* По умолчанию невидим */
  transition: opacity 0.3s ease; /* Анимация появления */
}

.overlayText {
  font-size: 14px;
  font-weight: bold;
  color: rgb(253 253 253); /* Черный текст */
  text-transform: uppercase;
}

.imageWrapper:hover .productImage {
  filter: brightness(0.7); /* Затемнение картинки */
}

.imageWrapper:hover .imageOverlay {
  opacity: 1; /* Показ подсказки при наведении */
}