.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: rgb(163 163 163);
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.navContainer  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: #ecf0f1;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navContainer a:hover {
  background-color: #f39c12;
  transform: translateY(-2px);
}

.navContainer button:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

.cartQuantity {
  padding: 3px 6px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #ff4d4f;
  border-radius: 50%;
}

.searchBar {
  margin-bottom: 20px;
}

.searchBar input {
  width: 99%;
  padding: 10px;
  font-size: 16px;
}

.content {
  display: flex;
  gap: 20px;
}

.productList {
  flex-grow: 1;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.productImage {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.product h3 {       
  height: 40px;          
  overflow: hidden;      
  text-overflow: ellipsis;
  font-size: 18px; 
}

.product p {
  flex-grow: 1;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.button {
  max-height: 30px;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #fb0;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #494d52;
}

.quantityControls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantityControls div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}